.container-radio {
  color: #353535;
  display: table;
  position: relative;
  padding-left: 38px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 9999;
  margin-top: 5px;
}

.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #e7e7e7;
  margin-top: 1px;
}

.container-radio:hover input ~ .checkmark {
  background-color: #e7e7e7;
}

.container-radio input:checked ~ .checkmark {
  background-color: #fff;
}

.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5dd0b6;
}
@media (min-width: 992px){
  .modal-lg {
      max-width: 640px;
  }
}